@-moz-document domain("www.kooapp.com") {
    .pH7Zh, .pH7Zh, .Dbt8g, .ONHfh, .ogqjk, .tvkyd, div, input, button, h5, textarea {
        background-color: black !important;
        color: white !important;
    }
    
    #attchMedia, div.Riyd0 {
        background-color: #ADD8E6 !important;
    }
    
    ._3ctZe {
        color: #0074c2 !important;    
    }
    
    span {
        color: #ffffff;
    }
}