@-moz-document domain("www.kooapp.com") {
    .pH7Zh, .pH7Zh, .Dbt8g, .ONHfh, .ogqjk, .tvkyd, div, input, button, h5, textarea {
        background-color:#15202b !important;
        color:#ffffff !important;
    }
    
    #attchMedia, div.Riyd0 {
        background-color: #ADD8E6 !important;
    }
    
    ._3ctZe {
        color: #ffffff !important;    
    }
    
    span {
        color: #ffffff;
    }
}